/*
===================
blog-single-content-wrp
===================
*/

.page-top-entry-hdr{
	padding-left: 45px;
	padding-top: 10px;
	position: relative;
	margin-top: 7px;
}
.page-top-entry-hdr i{
	position: absolute;
	left: 0;
	top: 2px;
}
.blog-single-rgt-sidebar-wrp .entry-hdr-cntlr{
	margin-bottom: 20px;
}

.pteh-title{
	font-size: 26px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 5px solid #ed1b24;
	margin: 0;
}
.pteh-title span{
	display: inline-block;
	color: #ed1b24;
}
.blog-single-rgt-sidebar-wrp .entry-hdr-wrap{
	margin-top: 12px;
}
.blog-single-post-dsc{
	padding-top:11px;
	padding-bottom:80px;
}
.blog-single-post-dsc h2{
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	padding: 0 0 30px 40px;
	border-bottom: 3px solid #ededed;
	margin-bottom: 30px;
	position: relative;
}

.blog-single-post-dsc h2 span{
	display: block;
	color: #ed1b24;
}
.blog-single-post-dsc h2::before {
    content: "\f0da"!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #ed1b24;
    font-size: 42px;
    padding-right: 0;
    position: absolute;
    top: 25px;
    left: 5px;
    line-height: 15px;
}

.blog-single-post-dsc p{
	margin-bottom: 40px;
}
.blog-single-post-dsc ul{
	padding-bottom: 40px;
}
.blog-single-post-dsc h6{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 27px;
}
.blog-single-date a{
	display: inline-block;
	vertical-align: baseline;
	float: left;
	font-size:14px;
	line-height:15px;
	color:#959595;
	text-decoration: none;
	text-transform: capitalize;
	padding-left:22px;
	padding-right:10px;
	margin-bottom:23px;
	text-decoration: none;
}

.blog-single-post-dsc img{
	width: 100%;
	border: 5px solid #ededed;
	margin-bottom: 35px;
}
.blog-single-date a:hover{
	color:#375cb8;
}
.date-icon{
	background: url(../images/date-icon.png);
	background-repeat: no-repeat;
	background-position: left;

}
.comprar-icon {
	background: url(../images/comprar-icon.png);
	background-repeat: no-repeat;
	background-position: 8px;
}
.single-post-icon{
	background: url(../images/single-post-icon-3.png);
	background-repeat: no-repeat;
	background-position: left;

}
.single-lft-dsce ul{
	padding-top:30px;
}



/*
========================
blog-single-rgt-sidebar-wrp
========================
*/
.blog-single-rgt-sidebar-wrp{
	padding-bottom:50px;
	overflow: hidden;
}
.blog-single-rgt-sidebar-wrp .blog-page-entry-hdr-cntlr .entry-hdr-sub-title {
    font-size: 17.5px;
}
.blog-single-rgt-sidebar-wrp .slide-item-dsce{
	padding: 0 15px;
}
.blog-single-rgt-sidebar-wrp .blog-page-entry-hdr-cntlr .entry-hdr-title {
    font-size: 46px;
}

.blog-single-rgt-sidebar-wrp h4{
	font-size: 22px;
	line-height: 26px;
	color: #03184d;
	text-align: center;
	text-transform: capitalize;
	display:table;
	vertical-align: baseline;
	padding-bottom:5px;
	margin: 0 auto;
	margin-bottom:15px;
}
.blog-s-btn{
	position: relative;
}
.slide-item img {
	width: 100%;
	position: relative;
}
.slide-item-dsce h4 {
	color: #292929;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 0 0 10px 0;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
}
.slide-item-dsce h4:after{
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	height: 1px;
	width: 90px;
	background: #ed1b24;
}
.slide-item-dsce h4 a{
	color: #292929;
}
.slide-item-dsce > a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 11px;
	color: #fff;
	background: #ed1b24;
	border: 1px solid #ed1b24;
	padding: 11px 15px;
	border-radius: 50px;
	text-transform: uppercase;
	height: 35px;
	text-decoration: none;
	position: relative;
	z-index: 2;
}
.slide-item-dsce > a:hover{
	background: transparent;
	color: #ed1b24;
}
.slide-item-dsce h4 a:hover{
	color: #ed1b24!important;
}

/*
-----------  
Slider customizations 
-----------
*/
.blog-slider-top {
	margin-bottom: 0 !important;
	padding-bottom: 30px;
}

.blog-slider-top .slick-dots {
	z-index: 99999;
	position: static;
	padding-top: 24px;
	margin-top: 50px;
	margin-bottom: 20px;
}


.blog-slider-top:focus,
.blog-slider-top  .slide-item:focus{
	text-decoration: none;
	outline: none;
}


.blog-slider-top .slick-dots {
	padding-bottom:25px;
}


.catagory-wrp,
.art-recient{
	border: 1px solid #f0f0f0;
	border-radius: 10px;
	padding: 25px 25px;
	margin-top: 20px;
}
.catagory-headding h5{
	font-size:18px;
	line-height: 20px;
	color:#131313;
	text-align: left;
	margin: 0;
	border-bottom:2px solid #ed1b24;
	padding-bottom:12px;
	margin-bottom: 28px;
	text-transform: uppercase;
	font-weight: 600;
}
.art-recient{
	padding-bottom:25px;
}
.catagory-wrp ul{
	list-style: none;
	margin: 0;
	padding:0;
}
.catagory-wrp ul li{
	float: left;
	width:100%;
	padding: 10px 0;
	border-bottom: 1px solid#f2f2f2;
	position: relative;
}
.ar-slide-item ul li{
	position: relative;
}
.catagory-wrp ul li:after,
.ar-slide-item ul li:before{
	content: ""!important;
	position: absolute!important;
	left: 0!important;
	bottom: 0!important;
	height: 1px!important;
	background: #ed1b24!important;
	width: 0!important;
	top: auto!important;
}
.ar-slide-item ul li:before{
	height: 2px!important;
	bottom: -2px!important;
	z-index: 5;
}
.catagory-wrp ul li:hover:after,
.ar-slide-item ul li:hover:before{
	width: 100%!important;
}
.catagory-wrp ul li:hover a{
	color: #ed1b24;
}
.catagory-wrp ul li:last-child{
	border:none;
}
.catagory-wrp ul li a{
	color:#333333;
	text-decoration: none;
}
.catagory-wrp ul li a:last-child{
	float: right;
}
.ar-slide-item ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ar-slide-item ul li{
	float: left;
	padding-left:90px;
	background: url(../images/ar-post-img-r.png);
	background-repeat: no-repeat;
	padding-bottom:20px;
	margin-top:20px;
	min-height: 100px;
	border-bottom: 2px solid#f2f2f2;
	width: 100%;
	position: relative;
}
.ar-slide-item ul li:first-child{
	margin-top:0;
}
.ar-slide-item ul li:after{
	content:'';
	position: absolute;
	background:#171717;
	height:2px;
	width: 107px;
	top: 100%;
}
.ar-slide-dsc {
	font-size: 13px;
	line-height: 14px;
	color: #333333;
	line-height: 18px;
	padding-left: 6px;
}
.ar-slide-h {
	min-height: 62px;
}
.ar-slide-h a{
	color: #333333;
	text-decoration: none;
	font-weight: 700;
}

.ar-slide-h a:hover{
	color: #ed1b24;
}
.c-date{
	color: #959595;
}
.c-date *{
	display: inline-block;
	vertical-align: baseline;
}
.c-date span{
	display: inline-block;
	vertical-align: baseline;
	color:#8c8c8c;
	text-transform: capitalize;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
}
.c-date i{
	padding-right: 7px;
}

/*
-----------  
Slider customizations 
-----------
*/
.ar-slider-wrp{
	overflow: hidden;
}
.ar-slider .slick-dots {
	bottom: -64px;
	padding-bottom:0px;
	margin-top: 40px;
	position: static;
	z-index: 99999;
	padding-top:33px;
}
.ar-slider.slick-dotted.slick-slider{
	margin-bottom:40px;
}

.ar-slider:focus,
.ar-slider .ar-slide-item:focus{
	text-decoration: none;
	outline: none;
}
.blog-slider-top-cntlr{
	padding-bottom: 30px;
}
.ar-slider{
	margin-bottom: 40px;
}


/*----- max-width 1199px -----*/
@media(max-width: 1199px){
	.blog-single-rgt-sidebar-wrp .blog-page-entry-hdr-cntlr .entry-hdr-title {
	    font-size: 39px;
	}
	.blog-single-rgt-sidebar-wrp .blog-page-entry-hdr-cntlr .entry-hdr-sub-title {
	    font-size: 14px;
	}
	.blog-single-post-dsc h2{
		font-size: 26px;
	}
	.blog-single-post-dsc h2::before{
		top: 19px;
	}

}

/*----- max-width 991px -----*/
@media(max-width: 991px){
	.ar-slide-h a br{
		display: none;
	}
	.blog-single-post-dsc{
		padding-bottom: 10px;
	}
	.blog-slider-top .afterBeforeEffect{
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-single-page .page-top-entry-hdr{
		margin-top: 15px;
	}
}

/*----- max-width 767px -----*/
@media(max-width: 767px){
	.fl-breadcrumb,
	.blog-single-post-dsc h2{
		text-align: center;
	}
	.blog-single-date,
	.a-breadcrumbs{
		display: inline-block;
	}
	.blog-single-post-dsc ul{
		display: inline-block;
	}
	.blog-single-post-dsc ul, 
	.clic-lft-dsce ul, 
	.service-box-dsce ul{
		margin-left: 0;
	}
	.clic-lft-dsce ul li, 
	.service-box-dsce ul li{
		padding-left: 0;
		padding-bottom: 16px;
	}
	.clic-lft-dsce ul li:before, 
	.service-box-dsce ul li:before{
		content: url(../images/thik-icon.png);
		position: relative;
		margin-right: 9px;
	}
	.art-recient,
	.catagory-wrp{
		text-align: left;
	}
	.comment-form{
		display: none;
	}
	.blog-single-post-dsc{
		padding-bottom: 40px;
		
	}
	.blog-single-post-dsc h2{
		padding: 25px 0 15px;
	}
	.blog-single-post-dsc h2::before{
		content: "\f0d7"!important;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.blog-single-post-dsc img{
		margin-bottom: 0;
	}
	.blog-single-post-dsc h2::before{
		top: -2px;
	}
	.blog-single-post-dsc h2 span{
		display: inline-block;
	}
}


/*----- max-width 639 -----*/
@media(max-width: 639px){

}



/*----- max-width 439 -----*/
@media(max-width: 479px){
	.ar-slide-dsc p a br{
		display: none;
	}
	.c-date {
		margin-left: -5px;
	}
	.blog-single-post-dsc h2 {
	    font-size: 22px;
	}
}


/*----- max-width 369 -----*/
@media(max-width: 359px){

}



