.ls-slider-sec{
	padding-top: 22px;
	padding-bottom: 85px;
	position: relative;
}
.slider-sec-entry-hbd-logo{
	text-align: center;
}
.ls-slider{
	margin-left: -25px;
	margin-right: -25px;
}
.ls-slide-item{
	float: left;
	width: 25%;
	padding-left: 25px;
	padding-right: 25px;
}

.ls-slide-img{
	height: 190px;
	position: relative;
}

.ls-slide-sqr-img-ctlr{
	position: relative;
	overflow: hidden;
	height: 100%;
}
.ls-slide-sqr-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.ls-slide-angel-img{
	position: absolute;
    left: 15px;
    bottom: 0;
    right: 15px;
    height: 37px;
}

.ls-slide-des{
	text-align: center;
	padding-top: 5px;
}

.ls-slide-title{
	display: block;
	font-size: 21px;
	line-height: 1;
	margin-bottom: 5px;
	padding-bottom: 8px;
	text-transform: uppercase;
	color: #ed1b24;
	font-weight: 300;
	position: relative;
}
.ls-slide-title:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 45px;
	background: #ededed;
}

.ls-slide-des p{
	margin-bottom: 22px;
}

.ls-slide-des a{
	height: 36px;
	width: 153px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	color: #fff;
	background: #292929;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #292929;
}
.ls-slide-des a:hover{
	background: transparent;
	color: #292929;
}

.hmSlider .slick-active + .slick-active .ls-slide-des a,
.hmSlider .slick-active + .slick-active + .slick-active + .slick-active .ls-slide-des a{
	background: #ed1b24;
	border: 2px solid #ed1b24;
}
.hmSlider .slick-active + .slick-active .ls-slide-des a:hover,
.hmSlider .slick-active + .slick-active + .slick-active + .slick-active .ls-slide-des a:hover{
	background: transparent;
	color: #ed1b24;
}
.hmSlider .slick-active + .slick-active + .slick-active .ls-slide-des a{
	background: #292929;
	border: 2px solid #292929;
}
.hmSlider .slick-active + .slick-active + .slick-active .ls-slide-des a:hover{
	background: transparent;
}

.hmSlider .slick-active + .slick-active .ls-slide-angel-img,
.hmSlider .slick-active + .slick-active + .slick-active + .slick-active .ls-slide-angel-img{
	background: url('../images/ls-slider-angel-img-black.png')!important;
}
.hmSlider .slick-active + .slick-active + .slick-active .ls-slide-angel-img{
	background: url('../images/ls-slider-angel-img-red.png')!important;
}


.ls-slide-item:hover .ls-slide-sqr-img{
	transform: scale(1.05);
}

.hmSlider .ls-slide-item{
	display: none!important;
}
.hmSlider .ls-slide-item:first-child{
	display: block!important;
}
.hmSlider.slick-initialized .ls-slide-item{
	display: block!important;
}


.slider-sec-entry-hdr-cntlr .entry-hdr-title{
	font-size: 52px;
}
.slider-sec-entry-hdr-cntlr .entry-hdr-wrap {
    margin-top: 20px;
}
.slider-sec-entry-hdr-cntlr .entry-hdr-desc {
    padding-top: 13px;
}
