.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header-inr{
	display: flex;
	align-items: center;
}
.hdr-lft{
   padding: 28px 0 28px;
}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-rgt-top{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 28px 0;
}
.hdr-rgt-top a{
	display: inline-block;
	font-size: 25px;
	font-weight: 200;
	padding-left: 30px;
	position: relative;
	color: #fff;
	line-height: 1;
}
.hdr-rgt-top a:hover{
	opacity: 0.7;
}
.hdr-rgt-top i{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -4px;
}
nav.main-nav{
}
nav.main-nav ul{
	display: flex;
	flex-wrap: wrap;
}
nav.main-nav > ul > li{
	padding: 0 13px;
	position: relative;
	padding-bottom: 28px;
}
nav.main-nav > ul > li:after{
	position: absolute;
	content: "";
	height: 19px;
	width: 1px;
	background: #f2545b;
	top: 1px;
	right: 0;
	margin-right: -1px;
}
nav.main-nav > ul > li:last-child:after{
	display: none;
}
nav.main-nav > ul > li:first-child{
	padding-left: 0;
}
nav.main-nav > ul > li:last-child{
	padding-right: 0;
}
nav.main-nav > ul > li .active{
	font-style: italic;
	color: #171717;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
nav.main-nav > ul > li > a{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 15px;
	line-height: 1;
	padding-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 100%;
	background: #171717;
	z-index: 11;
	display: block;
	transform-origin: center center 0;
	transform: scale(0,1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
nav.main-nav > ul > li > a:hover:after,
nav.main-nav > ul > li .active:after{
	transform: scale(1,1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
nav.main-nav > ul > li .active:hover{
	color: #171717;
}
nav.main-nav > ul > li:hover a{
	color: #171717;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/* submenu */

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
    position: absolute;
    top: 100%;
    left: -18px;
    min-width: 200px;
    padding: 17px;
    background: rgba(247,247,247,0.9);
    z-index: 30;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li{
	padding-bottom: 23px;
	width: 100%;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li:last-child{
	padding-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a{
	display: block;
	color: #171717;
	padding-left: 18px;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li > a:hover{
	padding-left: 0;
	color: #ed1b24;	
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu .current-menu-item a{
	color: #ed1b24;
	padding-left: 0;
	font-weight: 600;
	padding-bottom: 5px;
}





.banner-sec{
	min-height: 595px;
}




@media(max-width: 991px){
	body.active-scroll-off{
		overflow: hidden;
	}
	.xs-main-nav-cntlr.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	    text-indent: initial;
	    width: 100%;
	}
	.bdoverlay.active {
	    z-index: 9999;
	    opacity: 1;
	}
	.bdoverlay {
	    background: rgba(0, 0, 0, 0.8);
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    z-index: -1;
	}
	.header-inr{
		align-items: initial;
	}
	.hdr-rgt-top{
		display: none;
	}
	.xs-main-nav-cntlr{
		position: fixed;
	    top: 0;
	    right: -250px;
	    bottom: 0;
	    background-color: #f7f7f7;
	    background-image: url(../images/xs-pop-up-overlay-logo.png);
	    background-repeat: no-repeat;
	    background-position: left top;
	    color: #0c0c0c;
	    font-size: 20px;
	    line-height: 20px;
	    max-width: 390px;
	    width:0;
	    z-index: -1;
	    opacity: 0;
	    -ms-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.xs-main-nav{
		position: relative;
		overflow-y: scroll;
	    height: 100%;
	    position: relative;
	    width: 100%;
	}
	.hdr-humberger{
		display: flex;
		align-items: center;
		margin-top: 15px;
	}
	.line-icon{
		width: 37px;
		height: 21px;
		margin: 0;
		cursor: pointer;
	    position: relative;
	    max-width: 37px;
	}
	.line-icon span {
	    height: 3px;
	    width: 37px;
	    background: #ffffff;
	    display: block;
	    position: absolute;
	    transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		
	}
	.line-icon span:first-child {
	    top: 0px;
	    left: 0px;
	}
	.line-icon span:nth-child(2) {
	    top: 9px;
	    left: 0px;
	    width: 27px;
	}
	.line-icon span:nth-child(3) {
	    top: 18px;
	    left: 0px;
	    width: 17px;
	}
	.line-icon.active-collapse span:first-child {
	    width: 35px;
	}
	.line-icon.active-collapse span:nth-child(2) {
	    width: 30px;
	}
	.line-icon.active-collapse span:last-child {
	    width: 25px;
	}
	nav.main-nav.opacity-1 {
	    right: 0;
	    opacity: 1;
	    z-index: 9999999;
	}
	nav.xs-main-nav .closebtn {
	    position: absolute;
	    width: 22px;
	    height: 22px;
	    cursor: pointer;
	    display: inline-block;
	    vertical-align: top;
	    clear: both;
	    max-width: 100%;
	    top: 20px;
	    right: 20px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	nav.xs-main-nav .closebtn span {
	    position: inherit;
	    left: 0px;
	    height: 3px;
	    width: 100%;
	    background: #fff;
	    top: 11px;
	    display: block;
	}
	nav.xs-main-nav .closebtn span:first-child {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	}
	nav.xs-main-nav .closebtn span:last-child {
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	}
	.main-nav-inr{
		overflow-y: scroll;
		height: 100%;
		position: relative;
	}
	.nav-menu-bg{
		background: url('../images/xs-nav-bg2.jpg');
	}
	.nav-menu-bg ul{
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 35px;
		/*background: url('../images/xs-nav-bg2.jpg');*/
	}
	.nav-menu-bg ul li{
		display: block;
		text-align: center;
	    padding-top: 20px;
	    border-bottom: 1px solid #dfdcdd;
	}
	
	.nav-menu-bg > ul > li > a{
		font-size: 20px;
		text-transform: uppercase;
		color: #0c0c0c;
		padding-bottom: 18px;
		display: inline-block;
	}
	.nav-menu-bg > ul > li > a.active{
		color: #ee222b;
	}
	.menu-item-has-children >a{
		position: relative;
		padding-left: 25px;
	}
	.menu-item-has-children >a:after{
		position: absolute;
		content: "+";
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		color: #ee2029;
		margin-top: -9px;
	}
	.menu-item-has-children >a.sub-menu-plus:before{
		position: absolute;
		content: "-";
		top: 50%;
		left: 2px;
		transform: translateY(-50%);
		color: #ee2029;
		margin-top: -9px;
	}
	a.sub-menu-plus:after{
		display: none;
	}
	.nav-menu-bg > ul > li.menu-item-has-children > ul.sub-menu{
		background: #ee2029;
		margin-left: -40px;
		margin-right: -40px;
		padding-top: 0;
	}
	.nav-menu-bg > ul > li.menu-item-has-children > ul.sub-menu > li{
		margin-left: 35px;
	    margin-right: 35px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border-bottom: 1px solid #f1424a;
	}
	.nav-menu-bg > ul > li.menu-item-has-children > ul.sub-menu > li:last-child{
		border-bottom: none;
	}
	.nav-menu-bg > ul > li.menu-item-has-children > ul.sub-menu >li a{
		font-size: 17px;
		color: #fff;
		text-transform: uppercase;
	}
	nav.main-nav .main-nav-inr > ul > li.menu-item-has-children:after,
	nav.main-nav .main-nav-inr > ul > li.menu-item-has-children:focus:after,
	nav.main-nav .main-nav-inr > ul > li > a:after{
		content: none!important;
	}


	.xs-main-nav .hdr-rgt-top{
		display: block!important;
		text-align: center;
		padding-bottom: 0;
		padding-top: 40px;
		padding-bottom: 28px;
	}
	.xs-main-nav .hdr-rgt-top a{
		color: #111111;
		font-size: 39px;
		padding-left: 50px;
	}
	.xs-main-nav .hdr-rgt-top i{
		max-width: 28px;
		margin-top: 0px;
		position: absolute;
		left: 4px;
	}
	.xs-popup-hdr{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.xs-main-nav .xs-popup-hdr .log a img{
		width: 285px!important;
	}


	nav.main-nav > ul{
		float: none;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu {
	    padding: 0;
		min-width: initial;
		box-shadow: none;
	}
	nav.main-nav > ul > li.menu-item-has-children:after{
		content: none!important;
	}
	ul.sub-menu{
		display: none;
	}
	nav.main-nav > ul > li.nav-heilig-item{
		padding-left: 0;
	}
	nav.main-nav ul li{
		text-align: left;
	}
	.logo{
		padding-left: 20px;
	}
	
}

@media(max-width: 767px){
	.ls-hide-lg{
		display: none!important;
	}
	.hdr-rgt-top{
		display: none!important;
	}
	
}

@media(max-width: 479px){
	.xs-main-nav .hdr-rgt-top a {
	    font-size: 34px;
	}
	.xs-main-nav .hdr-rgt-top i{
		top: -4px;
	}
	.xs-popup-hdr .logo a{
		max-width: 240px;
		width: 100%;
	}
}
@media(max-width: 359px){
	.xs-main-nav .hdr-rgt-top a {
	    font-size: 28px;
	}
	.xs-main-nav .hdr-rgt-top i {
	    top: -10px;
	}
}


