.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 140px;
}
.header-inr{
	display: flex;
	align-items: center;
}
.hdr-lft{
	
}
.logo{

}
.logo a{

}
.hdr-rgt{
	
	margin-left: auto;
}
.hdr-rgt-top-cntlr{
	display: flex;
	justify-content: flex-end;
	padding: 28px 0;
}
.hdr-rgt-top{
	display: inline-block;
	padding-left: 30px;
	position: relative;
}
.hdr-rgt-top a{
	display: inline-block;
	font-size: 25px;
	font-weight: 200;
	color: #fff;
	line-height: 1;
}
.hdr-rgt-top a:hover{
	color: #171717;
}
.hdr-rgt-top i{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -3px;
}
nav.main-nav{
	padding-bottom: 38px;
}
nav.main-nav ul{
	display: flex;
	flex-wrap: wrap;
}
nav.main-nav > ul > li{
	padding: 0 13px;
	position: relative;
}
nav.main-nav > ul > li:after{
	position: absolute;
	content: "";
	height: 19px;
	width: 1px;
	background: #f2545b;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	margin-right: -1px;
}
nav.main-nav > ul > li:last-child:after{
	display: none;
}
nav.main-nav > ul > li:first-child{
	padding-left: 0;
}
nav.main-nav > ul > li:last-child{
	padding-right: 0;
}
nav.main-nav > ul > li .active{
	font-style: italic;
	color: #171717;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
nav.main-nav > ul > li > a{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 15px;
	line-height: 1;
	padding-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 100%;
	background: #000;
	z-index: 11;
	display: block;
	transform-origin: center center 0;
	transform: scale(0,1);
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
nav.main-nav > ul > li > a:hover:after,
nav.main-nav > ul > li .active:after{
	transform: scale(1,1);
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}
nav.main-nav > ul > li .active:hover{
	color: #171717;
}
nav.main-nav > ul > li > a:hover{
	color: #171717;
}
/* nav.main-nav > ul{

}
nav.main-nav > ul > li{

}
nav.main-nav > ul > li > a{

}

nav.main-nav > ul > li.current-menu-item > a{
	
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
} */




.banner-sec{
	min-height: 595px;
}