.main-slider-sec{
	margin-top: -458px;
}
.main-slider-sec-inr{
	padding: 0 0 0 70px;
	
}
.main-slider-sec-inr-cntlr{
	min-height: 523px;
	padding: 50px 0 45px 70px;
}
.mainSlideDes{
	color: #fff;
	width: 59%;
	padding-right: 55px;
	font-weight: 300;
	font-size: 15px;
	line-height: 1;
	float: left;
}
.mainSlideDesRgt{
	float: right;
	width: 41%;
}
.mainSlideDes p{
	line-height: 1.2;
	margin-bottom: 18px;
	text-align: justify;
  	text-justify: inter-word;
}
.msd-title{
	display: block;
	font-size: 42px;
	line-height: 1;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-bottom: 25px;
	border-bottom: 5px solid #ffffff;
}
.msd-sub-title{
	text-transform: uppercase;
	color: #ed1b24;
	font-size: 22px;
	line-height: 1;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	margin-bottom: 0px;
}
.msd-btn{
	padding-top: 22px;
}
.msd-btn a{
	background: #ed1b24;
	width: 293px;
	height: 55px;
	border-radius: 30px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	border: 2px solid #ed1b24;
}

.msd-btn a em span{
	color: #171717;
	font-size: 17px;
}
.msd-btn a em{
	padding-left: 23px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.msd-btn a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 0;
	transition: all 0.1s;
	-ms-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.msd-btn a:hover{
	background: transparent;
	color: #fff;
}
.msd-btn a:hover em{
	padding-left: 0;
}
.msd-btn a:hover em span{
	color: #ed1b24;
}
.msd-btn a:hover i{
	display: none;
}

.mainInnerSlider{
	margin-bottom: 45px;
}

.mainSlideDesRgt .tab-grd-item-cntlr{
	clear: none;
	width: 100%;
}

.mainSliderRgtDes p{
	font-weight: 600;
	font-style: initial;
	margin-bottom: 0;
}
.mainSliderRgtDes p span{
	text-transform: uppercase;
	color: #ed1b24;
}
.main-slider-sec{
	position: relative;
}
.mainSlider.slick-slider ul.slick-dots{
	position: absolute!important;
	right: 190px!important;
	left: auto!important;
	width: auto!important;
	bottom: 0!important;
}
.main-slider-sec-rgt-bg{
	background: #f7f7f7;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}
.main-slider-sec-inr{
	position: relative;
}
.mainInnerSlideItem{
	position: relative;
}
.main-slider-sec-rgt-angle{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border-bottom: 558px solid #f7f7f7;
	border-left: 276px solid transparent;
	border-right: 240px solid #f7f7f7;

}

.mainSlider.slick-slider .slick-next,
.mainSlider.slick-slider .slick-prev{
	width: 25px!important;
	height: 50px!important;
	top: 50%!important;
	transform: translateY(-50%)!important;
	-ms-transform: translateY(-50%)!important;
	-webkit-transform: translateY(-50%)!important;
	z-index: 30;
	position: absolute;
}
.mainSlider.slick-slider .slick-prev{
	background-image: url(../images/prev-arrow-main-sldier.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 100% auto!important;
	left: -50px;
}
.mainSlider.slick-slider .slick-next{
	background-image: url(../images/next-arrow-main-sldier.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 100% auto!important;
	right: -50px;
}




.mainInnerSlider.slick-slider .slick-next,
.mainInnerSlider.slick-slider .slick-prev{
	width: 18px!important;
	height: 18px!important;
	background-color:#e85158!important;
	border-radius: 100% 100%;
	color: #fff;
	bottom: -30px!important;
	transform: initial!important;
	top: auto!important;
	position: absolute;
	z-index: 20;
}
.mainInnerSlider.slick-slider .slick-prev{
	right: 30px!important;
	left: auto!important;
	background-image: url(../images/prev-arrow-xs-size.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 8px auto!important;
}
.mainInnerSlider.slick-slider .slick-next{
	right: 0!important;
	left: auto!important;
	background-image: url(../images/next-arrow-xs-size.png)!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 8px auto!important;
}




