.slick-slider ul.slick-dots{
	position: static;
	height: auto;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 15px!important;
	height: 15px!important;
	position: static;
	margin: 0 6px 8px;
	padding: 0!important;
	background: url('../images/dots-btn.png');
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-slider .slick-dots li.slick-active{
	background: url('../images/dots-btn-hover.png');
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 15px;
	height: 15px;
}
.slick-next,.slick-prev{
	height: 88px;
	width: 44px;
	position: absolute;
	margin: 0;
	padding: 0;
}
.slick-prev{
	background: url('../images/prev-btn.png')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-prev:hover{
	background: url('../images/prev-btn-hover.png')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-next{
	background: url('../images/next-btn.png')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-next:hover{
	background: url('../images/next-btn-hover.png')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-prev:before,
.slick-next:before{
    content: none;
}

.ls-slider-sec .slick-slider .slick-dots{
	position: absolute;
	bottom: -50px;
	left: 0;
}
.ls-slider-sec .slick-prev{
	position: absolute;
	top: 50%;
	left: -40px;
	transform: translateY(-50%);
}
.ls-slider-sec .slick-next{
	position: absolute;
	top: 50%;
	right: -40px;
	transform: translateY(-50%);
}




.ls-slider-custom-cntlr{
	position: relative;
	padding: 20px 55px 10px;
	line-height: 1;
}
.ls-prev{
	left: 0;
}
.ls-next{
	right: 0;
}
.ls-prev,
.ls-next{
	position: absolute;
	width: 30px;
	height: 58px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}
.ls-prev{
	background: url('../images/ls-prev-icon.png')!important;
	background-size: 100% auto!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}

.ls-next{
	background: url('../images/ls-next-icon.png')!important;
	background-size: 100% auto!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}

.ls-prev:hover{
	background: url('../images/ls-prev-icon-hover.png')!important;
	background-size: 100% auto!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}

.ls-next:hover{
	background: url('../images/ls-next-icon-hover.png')!important;
	background-size: 100% auto!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}

.ls-slider-custom-cntlr{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.ls-slider-custom-pagi,
.ar-slider-custom-pagi{
	display: inline-block;
}
.ls-slider-custom-pagi li,
.ar-slider-custom-pagi li,
.bt-slider-custom-pagi li,
.blog-ls-slider-custom-pagi li{
	width: 15px!important;
	height: 15px!important;
	position: static;
	margin: 0 6px 8px;
	padding: 0!important;
	background: url('../images/dots-btn.png');
	background-position: center center!important;
	background-repeat: no-repeat!important;
	display: inline-block;
	vertical-align: baseline;
	cursor: pointer;
}
.ls-slider-custom-pagi li.ls-pgi-active,
.ar-slider-custom-pagi li.slick-active,
.bt-slider-custom-pagi li.slick-active,
.blog-ls-slider-custom-pagi li.slick-active{
	background: url('../images/dots-btn-hover.png');
}

.banner-sec.page-bnr{
	min-height: 140px;
	border-bottom: 4px solid #ededed;
}

.blog-slider-top-cntlr .ls-slider-custom-cntlr,
.blog-page-section .ls-slider-custom-cntlr{
	padding-bottom: 0;
}

/*site map*/

.sitemap{
	padding: 150px 0;
}
.sitemap ul{
	padding-left: 50px;
}
.sitemap ul li{
	padding: 15px 0;
}
.sitemap ul li a{
	color: #000;
	font-size: 18px;
}
.sitemap ul li a:hover,
.sitemap ul li a:focus{
	text-decoration: underline;
}